<h4>Administration</h4>

<ul>
    <li><a href="{{ path('_security_login') }}">Login</a></li>
    <li><a href="{{ path('blog_admin_dashboard') }}">Dashboard</a></li>
    <li><a href="{{ path('blog_admin_list_authors') }}">Authors</a></li>
    <li><a href="{{ path('blog_post_admin') }}">Posts</a>
    <li><a href="{{ path( 'blog_post_new') }}">Create Content</a></li>
</ul>