{% extends 'BlogBundle::layout.twig' %}

{% block content %}
<h2>Search result for "{{term}}"</h2>

<p>Found <strong>{{result.resultCount}}</strong> results in <strong>{{result.queryTime}}</strong> seconds.</p>

<ol>
{% for resDoc in result.documents %}
    <li>
        <strong><a href="{% route 'blog_show_post' with ['id': resDoc.document.id] %}">{{ resDoc.document.headline }}</a></strong>
        ({{ resDoc.score * 100 }})
    </li>
{% endfor %}
</ol>
{% endblock %}