{% extends 'WhitewashingBlogBundle::adminLayout.twig.html' %}

{% block content %}
    <h1>Posts</h1>

    <table>
        <tr>
            <th width="70%">Headline</th>
            <th width="10%">Author</th>
            <th width="10%">Date</th>
            <th width="10%">#</th>
        </tr>
{% for post in posts %}
        <tr>
            <td>{{post.headline}}</td>
            <td>{{post.author.name}}</td>
            <td>{{post.created|date('d.m.Y')}}</td>
            <th>
                <a class="sprite-link" href="{{ path('blog_post_edit', {'id': post.id}) }}"><span class="ss_sprite ss_page_edit"></span></a>
                <a class="sprite-link" href="{{ path('blog_post_delete', {'id': post.id}) }}"><span class="ss_sprite ss_page_delete"></span></a>
            </th>
        </tr>
{% endfor %}
    </table>
{% endblock %}