<ul id="recentPosts" class="imagedList">
{% for comment in comments %}
    <li>
        <a href="{% route 'blog_show_post' with ['id': comment.post.id] %}#comment-{{ comment.id }}">
            <img src="http://www.gravatar.com/avatar/{{comment.GravatarUserEmailHash}}.jpg?s=32" alt="" />
            {{comment.created|date('F, d.Y')}}, Comments ({{comment.post.commentCount}})<br />
            <strong>Re: {{comment.post.headline}}</strong>
        </a>
    </li>
{% endfor %}
</ul>