<div class="post-container">
    <h2><a href="{{ path('blog_show_post', {'id': post.id}) }}">{{ post.headline }}</a></h2>

    <div class="post">
        {{ post.formattedText|raw }}
    </div>

    <div class="footer">
        {{ post.author.name }} on {{ post.created|date('F, d. Y') }},
        <a href="{{ path('blog_show_post', {'id': post.id}) }}#disqus_thread" data-disqus-identifier="{{post.id}}">Comments and Reactions</a>
    </div>
</div>