{% extends 'BlogBundle::layout.twig' %}

{% block title %}
{{post.headline}}
{% endblock %}

{% block content %}
{% include 'BlogBundle:Blog:post.twig' with ['post': post] %}

<div class="references">
    <div class="span-10">
        {% set posturl %}{%route 'blog_show_post' with ['id': post.id] %}{% endset %}

        <h4>Share This Post</h4>

        <ul class="socialBookmarks">
            <li><a href="http://twitter.com/home?status={{post.headline|url_encode}}+{{posturl|url_encode}}" target="_blank"><img src="{% asset 'bundles/blog/themes/whitewashing-de/images/icons/twitter-16x16.png' %}" width="16" height="16" border="0" hspace="0" alt="Share on Twitter" title="Share on Twitter" /></a></li>
            <li><a href="http://de.facebook.com/sharer.php?u={{posturl|url_encode}}&amp;t={{post.headline|url_encode}}" target="_blank"><img src="{% asset 'bundles/blog/themes/whitewashing-de/images/icons/facebook-16x16.png' %}" alt="Facebook" title="Share on Facebook" align="left" border="0" height="16" hspace="0" width="16"></a></li>
            <li><a href="http://del.icio.us/post?url={{posturl|url_encode}}&amp;title={{post.headline|url_encode}}" target="_blank"><img src="{% asset 'bundles/blog/themes/whitewashing-de/images/icons/delicious-16x16.png' %}" alt="Share on deli.cio.us" title="Share on deli.cio.us" align="left" border="0" height="16" hspace="0" width="16"></a></li>
            <li><a href="http://digg.com/submit?phase=2&url={{posturl|url_encode}}&amp;title={{post.headline|url_encode}}" target="_blank"><img src="{% asset 'bundles/blog/themes/whitewashing-de/images/icons/digg-16x16.png' %}" width="16" height="16" border="0" hspace="0" alt="Share on Digg" title="Share on Digg" align="left" /></a></li>
            <li><a href="http://reddit.com/submit?url={{posturl|url_encode}}&amp;title={{post.headline|url_encode}}" target="_blank"><img src="{% asset 'bundles/blog/themes/whitewashing-de/images/icons/reddit-16x16.png' %}" width="16" height="16" border="0" hspace="0" alt="Share on reddit" title="Share on reddit" align="left" /></a></li>
            <li><a href="http://www.stumbleupon.com/submit?url={{posturl|url_encode}}&amp;title={{post.headline|url_encode}}" target="_blank"><img src="{% asset 'bundles/blog/themes/whitewashing-de/images/icons/stumbleupon-16x16.png' %}" width="16" height="16" border="0" hspace="0" alt="Share on StumbleUpon" title="Share on StumbleUpon" align="left" /></a></li>
        </ul>
    </div>

    <div class="span-5">
        <h4>Tags</h4>

        {% if post.tags|length is none %}
        <p>This post is untagged.</p>
        {% else %}
        <ul>
        {% for tag in post.tags %}
            <li><a href="{% route 'blog_show_tag' with ['tagName': tag.slug] %}">{{tag.name}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<h4>Comments</h4>    

{{post|disqus_comments}}

{% endblock %}